<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gestion </title>
</head>
<body>
<h1>Welcome your App h1</h1>
<h2>Welcome your App h2</h2>
<h3>Welcome your App h3</h3>
<h4>Welcome your App h4</h4>
<h5>Welcome your App h5</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio harum laborum minima reiciendis, reprehenderit sapiente voluptatibus. Adipisci, beatae cumque deserunt harum ipsam iusto natus neque perferendis porro quisquam! Eius.</p>
<sp>Texto corto</sp>
<a href="https://www.google.com">link</a>

<input type="hidden" />
<input type="text" />
<input type="search" />
<input type="tel" />
<input type="url" />
<input type="email" />
<input type="password" />
<input type="date" />
<input type="month" />
<input type="week" />
<input type="time" />
<input type="datetime-local" />
<input type="number" />
<input type="range" />
<input type="color" />
</body>
</html>